*{
    margin: 0;
    padding: 0;
}
.logo{
    display: flex;
}
.header{
    display: flex;
    justify-content: space-between;
}
.logo i{
    font-size: 40px;
    border-radius: 6px;
    padding: 6px;
    height: 34px;
    background-color: blue;
}

  .header ul{
    display: flex;
    list-style: none;
    border: none;
    gap: 10px;
}
.header ul li{
    padding: 0px 20px;
    font-size: 20px;
    cursor: pointer;
}
button{
    background-color: chocolate;
    font-size: 25px;
    border-radius: 3px solid blue;
    
}
.hero {
    background-image: url(https://c4.wallpaperflare.com/wallpaper/20/164/15/booking-best-hotels-bangkok-tourism-wallpaper-preview.jpg);
    background-repeat: no-repeat;
    height: 500px;
    background-size: cover;
    border-radius: 20px;
    margin-left: 2%;
    margin-right: 4%;
}
.hero{
    display: flex;
    justify-content: space-between;
}
.hero h1{
    font-size: 80px;
    color: white;
    padding: 44px;
}

.left p{
    font-size: 15px;
    color: white;
    padding-left: 46px;
    padding-bottom: 30%;

}

.form{
    background-color:white;
    margin-top: 6%;
    margin-right: 6%;
    border-radius: 12px;
    width: 350px;
    height: 350px;
}
.form h2{
    padding-top: 2%;
    padding-left: 4%;
}
.form p{
   margin-left: 5%;
}
.lbl p{
   padding-top: 15%;
}
.input1{
    background-color: whitesmoke;
    border: none;
    width: 298px;
    height: 50px;
    margin-top: 2% ;
    margin-left:3%;
    border-radius: 6px;
}

.form .cover{
    font-size: 22px;
margin-top: 20px;
    height: 35px;
    width: 350px;
    border-radius: 22px;


}
.acounts{
    display: flex;
    justify-content: space-evenly;
}
.visa img{
   margin-top: 8%;
    width: 100px;
    
}
.paybal img{
    width: 100px;
    margin-bottom: 17%;
   
}
.master-card img{
    width: 100px;
    margin-top: 14%;
    background-color: white;
    
}
.discard img{
    margin-top: 30%;
    width: 100px;
    
}
.stripe img{
    width: 100px;
    margin-top: 11%;
    
}
.lemon img{
    width: 100px;
    

}
.house{
    display: flex;
    justify-content: space-between;
    background-color: rgb(212, 205, 205);
    height: 200px;
}
.text{
    margin-left: 16px;
    font-size: 12px;
}
.view{
    color: yellow;
}
h3{
    color: rgb(143, 143, 8);
}
.input-parents{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

}
.murwo input{
    height: 48px;
    width: 170px;
    border-radius: 8px;
    border: none;
    background-color: rgb(141, 134, 134);

}
.offer{
    background-color: #f8f8f8;
    height: 500px;
}
.offer-title-parent{
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
}
.left-offer h4{
    color: orange;
    font-size: 20px;
}
.left-offer h1{
    font-size: 60px;
}
.offer-title-parent h3{
margin-top: 40px;
color: orange;
font-size: 18px;
}
.box{
    height: 250px;
    width: 100%;
    background-color: white;
    padding: 12px;
    border-radius: 18px;
}

.box-parent{
    margin-bottom: 40px;
    margin-top: 30px;
    display: grid;
justify-content: space-around;
grid-template-columns: 350px 350px 350px;
}

.box img{
    width: 100%;
    height: 160px;
    border-radius: 12px;

}
.box h3{
    margin-top: 10px;
}
.info-parent{
    display: flex;
    justify-content: space-between;
}
.info-parent i{
    color: orange;
}



.price-parent{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.family{
    margin-top: 70px;
    display: flex;
    justify-content: space-around;
}
.right-benefit{
    width: 500px;
}

  .left-benefit .img1{
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("image.jpg");
    border-radius: 12px;
    width: 400px;
    height: 460px;

}

.left-benefit{
    position: relative;
}

.left-benefit .img2{
    background-image: url( "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRCP2oabg7VvcGezTSNdYi19vuOhGWKG_HiWQ&usqp=CAU"    ); 

    width: 250px;
    height: 250px;
    background-color: coral;
    position: absolute;
    right: -70px;
    border-radius: 22px;
    top: 140px;
    border: 6px white solid;

}
.offer{
    background-color: #f8f8f8;
    height: 500px;
}
.offer-title-parent{
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
}
.left-offer h4{
    color: orange;
    font-size: 20px;
}
.left-offer h1{
    font-size: 60px;
}
.offer-title-parent h3{
margin-top: 40px;
color: orange;
font-size: 18px;
}
.box{
    height: 250px;
    width: 100%;
    background-color: white;
    padding: 12px;
    border-radius: 18px;
}

.box-parent{
    margin-bottom: 40px;
    margin-top: 30px;
    display: grid;
justify-content: space-around;
grid-template-columns: 350px 350px 350px;
}

.box img{
    width: 100%;
    height: 160px;
    border-radius: 12px;

}
.box h3{
    margin-top: 10px;
}
.info-parent{
    display: flex;
    justify-content: space-between;
}
.info-parent i{
    color: orange;
}



.price-parent{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.main {
 display: flex;
}

.main i{
    margin-right: 2%;
    margin-top: 12px;
    font-size: 40px;
    
}
 .faq-section{
    text-align: center;
    margin-top: 50px;
    height: 400px;
 }
 .faq-section h4{
color: orange;
font-size: 20px;
margin-top: 20px;

 }


 .faq-one{
    border: 1px solid blue;
    width: 500px;
    border-radius: 12px;
 }
 .faq-question{
    margin: 2px 40px;
    padding: 20px;
    justify-content: space-between;
    display: flex;
 }
 .faq-parent{
    justify-content: center;
    margin-top: 50px;
    display: flex;
    text-align: center;
    gap: 30px;
 }

 .review-parents{
    height: 400px;
background-color: azure;
display: flex;
margin: 50px 20px;
position: relative;
 }

 .review-parents img{
    width: 650px;
border-radius: 22px;

 }
 .box-review p{
    font-size: 20px;
    color: gray;
 }
 .box-review{
    width: 500px;
    background-color: white;
    margin-top: 10px;
    line-height: 30px;
    padding: 20px;
    border-radius: 12px;
    position: absolute;
    right: 200px;
    top: 130px;
 }
 .right-review h4{
    color: orange;
    font-size: 30px;
    margin-left: 7%;
 }
 .right-review h1{
    margin-left: 7%;
 }

 .footer{
    color: white;
    padding: 40px;
    background-color: black;
    height: 400px;
    width: 100%;
 }
 .Newsletter-parents{
    justify-content: space-between;
    display: flex;
 }
 .email{
    background-color: white;
    padding: 20px 16px;
    border-radius: 12px;
 }
 .email input{
    border: none;
    outline: none;
 }

 .email button{
    background-color: orange;
    border: none;
    padding: 10px 20px;
    font-size: 22px;
    border-radius: 12px;
    color: white;
 }
 .link-left{
    width: 100%;
 }
 .link-parent{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
 }
 .right-link{
    display: flex;
    gap: 70px;

 }
 .right-link h4{
    margin-bottom: 25px;
 }